
  .center {
    text-align: center;
  }
  ul {
      list-style: none;
      padding: 0;
  }
  img {
      height: 100px;
  }
  #footer {
      width: 100%;
      border-top: solid 2px black;
      background-color: white;
      position: fixed;
      bottom: 0;
  }


#parent-input{
  width: 500px;
  margin:auto;
}
#player-input {
    margin-top:20px;}
#guesses{
  margin-top:50px;
}

#your-guess{
  margin-top:20px;
}
.footer-logo{
  height:100px;
}
